$pc: 1024px;    //PC
$tab: 600px;    //タブレット
$sp: 0px;     //スマホ

@mixin break($breakpoint){
    @media screen and (min-width: ($breakpoint)){
        @content;
    }
}

.links{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    margin: 50 0 100 0;

    &__head{
        position: relative;

        ::before{
            position: absolute;
            content: "";
            background: #888888;
            width: 100%;
            height: 3px;
            bottom: -3;	
        }
        
        ::after{
            position: absolute;
            content: "";
            background: red;
            width: 200px;
            height: 3px;
            bottom: -3;
            left: 0;
        }
    }

    &__content{
        position: relative;
        margin: 20 0 0 0;
        
        @include break($sp){
            display: flex;
            flex-wrap: wrap;
        }

        @include break($tab){
            display: flex;
        }  

        @include break($pc){
            display: flex;
        }

        button{
            
            width: 150;
            height: 75;
            margin: 10;
            font-family: 'Terminal';

            cursor: pointer;

            @include break($sp){
                width: 140;
                height: 70;
                font-size: large;
            }
    
            @include break($tab){
                width: 150;
                height: 75;
                font-size: large;
            }  
    
            @include break($pc){
                width: 150;
                height: 75;
                font-size: large;
            }
        }
    }
}

#twitter{
    border: solid #00a6ce 1px;
    color: white;
    background-color: #00a6ce;
    transition: .5s;

    &:hover{
        border:solid #00a6ce 1px;
        background-color: white;
        color: #00a6ce;
    }
}

#unityroom{
    border: solid rgb(51, 91, 221) 1px;
    color: white;
    background-color: rgb(51, 91, 221);
    transition: .5s;

    &:hover{
        border:solid rgb(51, 91, 221) 1px;
        background-color: white;
        color: rgb(51, 91, 221);
    }
}

#github{
    border:solid black 1px;
    color: #e7e7e7;
    background-color: black;
    transition: .5s;

    &:hover{
        border:solid black 1px;
        color: black;
        background-color: white;
    }
}

#blog{
    border: solid #f78850 1px;
    color: white;
    background-color: #f78850;
    transition: .5s;

    &:hover{
        border:solid #f78850 1px;
        color: #f78850;
        background-color: white;
    }
}

#unity{
    border: solid #0e1015 1px;
    color: white;
    background-color: #0e1015;
    transition: .5s;

    &:hover{
        border:solid #0e1015 1px;
        color: #0e1015;
        background-color: white;
    }
}