@charset "UTF-8";
.update {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: auto;
  margin: 0 0 50 0;
}

.update__head {
  position: relative;
}

.update__head ::before {
  position: absolute;
  content: "";
  background: #888888;
  width: 100%;
  height: 3px;
  bottom: -3;
}

.update__head ::after {
  position: absolute;
  content: "";
  background: red;
  width: 100px;
  height: 3px;
  bottom: -3;
  left: 0;
}

.update a {
  text-decoration: none;
}

.update__underline {
  width: 90%;
  border: 1px #666666 dashed;
}

.update__lists {
  position: relative;
  top: 10;
  border: 1px #666666 solid;
  padding: 10 10 10 10;
  overflow-y: scroll;
}

@media (min-width: 0px) {
  .update__lists {
    height: 30em;
  }
}

@media (min-width: 600px) {
  .update__lists {
    height: 20em;
  }
}

@media (min-width: 1024px) {
  .update__lists {
    height: 20em;
  }
}

@media (min-width: 0px) {
  .update__type_and_date {
    display: block;
  }
}

@media (min-width: 600px) {
  .update__type_and_date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .update__type_and_date {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.update__content {
  margin: 10 0 10 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .update__content {
    min-height: 60;
  }
}

@media (min-width: 600px) {
  .update__content {
    min-height: 35;
  }
}

@media (min-width: 1024px) {
  .update__content {
    min-height: 35;
  }
}

.update__type {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 30 0 30;
  text-align: center;
}

@media (min-width: 0px) {
  .update__type {
    top: 30%;
    left: -10%;
    width: 6em;
    height: 1.5em;
  }
}

@media (min-width: 600px) {
  .update__type {
    top: 50%;
    left: 0%;
    width: 6em;
    height: 1.5em;
  }
}

@media (min-width: 1024px) {
  .update__type {
    top: 50%;
    width: 6em;
    height: 1.5em;
  }
}

.update__type--notice {
  background-color: #DD3333;
}

.update__type--unityroom {
  background-color: #335bdd;
}

.update__date {
  position: relative;
  margin: 0 60 0 30;
}

@media (min-width: 0px) {
  .update__date {
    top: 60%;
    left: 10%;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    font-size: 13;
  }
}

@media (min-width: 600px) {
  .update__date {
    top: 0;
    left: 0%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    font-size: 13;
  }
}

@media (min-width: 1024px) {
  .update__date {
    top: 0;
    left: 0%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    font-size: 13;
  }
}

.update__body {
  position: relative;
  width: 47em;
}

@media (min-width: 0px) {
  .update__body {
    left: -5%;
  }
}

@media (min-width: 600px) {
  .update__body {
    left: 0;
  }
}

@media (min-width: 1024px) {
  .update__body {
    left: 0;
  }
}

.update__text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 0px) {
  .update__text {
    font-size: 13;
  }
}

@media (min-width: 600px) {
  .update__text {
    font-size: 13;
  }
}

@media (min-width: 1024px) {
  .update__text {
    font-size: 13;
  }
}

.update__text--notice {
  color: white;
  font-weight: normal;
  font-family: '游ゴシック';
}

.update__text--unityroom {
  color: white;
  font-weight: normal;
  font-family: '游ゴシック';
}

.update__text--date {
  color: #333333;
  font-weight: bolder;
  font-family: Arial;
}

.update__text--body {
  color: #333333;
  font-weight: bolder;
  font-family: '游ゴシック';
}
/*# sourceMappingURL=update_css.css.map */